

			<div id="page-wrapper">
				<div class="graphs">
					<div class="widget_middle">
                        
						<div class="col-md-8 widget_middle_left">
                            <div class="stats-info stats-info1">
                                <div class="panel-heading">
                                    <h4 class="panel-title" style="margin-bottom: 10px">CAR MODEL </h4>
                                
                                    <div class="form-group">
                                        <div>
                                            <select   [(ngModel)]="carMake.id" class="form-control1" (ngModelChange)="updateCarModels()">
                                                <option *ngFor="let make of carMakes" [value]="make.id" [selected]="carMake.id == make.id">{{ make.name }}</option>
                                            </select>
                                        </div>


                                        <div>
                                            <select   [(ngModel)]="carModel.id" class="form-control1" (ngModelChange)="updateCarModel()">
                                                <option *ngFor="let model of carModels" [value]="model.id" [selected]="carModel.id == model.id">{{ model.name }}</option>
                                            </select>
                                        </div>
                                        
								    </div>
                                 

                                </div>
							
                                 <div class="panel-body panel-body2">
                                    <ul class="list-unstyled" *ngIf="carModel.id">
										<li>Model: <div class="text-success">{{ carModel.name }}</div></li>
                                        <li>Type: <div class="text-success ">{{ carModel.type }}</div></li>
                                        <li>Description: <div class="text-success">{{ carModel.description }}</div></li>
                                        <li>Photo:  
                                            <img alt="car photo" src="{{ carModel.photo }}" class="img-responsive" />
                                            
                                        </li>
                                        
                                    </ul>
                                </div>
				
                
									
								
                               
                            </div>
                        </div>
                        

                        
						<div class="col-md-4 widget_middle_left">
							<div class="stats-info stats-info1">
								<div class="panel-heading">
                                    <h4 class="panel-title" style="margin-bottom: 0">CAR DETAIL </h4>                                    
                                </div>
								<div class="panel-body panel-body2" style="margin-top: 0; padding-top: 0">
									<!--<ul class="list-unstyled" *ngIf="!car">
										<li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Due from">
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Due to">
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <label><input type="checkbox" checked=""> Drapt </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1" placeholder="Problems"></textarea>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1" placeholder="Note"></textarea>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Advisor">
                                            </div>
                                        </li>
										<li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Team repair">
                                            </div>
                                        </li>
										<li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Status">
                                            </div>
                                        </li>								
                                    </ul>-->

									<ul class="list-unstyled" *ngIf="car">
										<li>License plate
                                            <div>
                                                <input [(ngModel)]="car.license_plate" type="text" class="form-control1" >
                                            </div>
                                        </li>
                                        <li>Year
                                            <div>
                                                <input [(ngModel)]="car.year" type="text" class="form-control1">
                                            </div>
                                        </li>
                                        <li>vin
                                            <div>
                                                <input [(ngModel)]="car.vin" type="text" class="form-control1" >
                                            </div>
                                        </li>
                                        <li>Horse power
                                            <div>
                                                <textarea [(ngModel)]="car.horse_power" name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1" ></textarea>
                                            </div>
                                        </li>
                                        <li>Fuel
                                            <div>
                                                <textarea  [(ngModel)]="car.fuel" name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1"></textarea>
                                            </div>
                                        </li>
                                        <li>Gear box
                                            <div>
                                                <input [(ngModel)]="car.gear_box" type="text" class="form-control1" >
                                            </div>
                                        </li>
										<li>Engine
                                            <div>
                                                <input [(ngModel)]="car.engine" type="text" class="form-control1">
                                            </div>
                                        </li>
										<li>Mile km 
                                            <div>
                                                <input [(ngModel)]="car.milekm_age" type="text" class="form-control1" >
                                            </div>
                                        </li>	
                                        <li>Note 
                                            <div>
                                                <input [(ngModel)]="car.note" type="text" class="form-control1" >
                                            </div>
                                        </li>								
                                    </ul>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>


                    

                    <div class="panel-footer">
							<div class="row">
								<div class="pull-right">
									<button *ngIf="!car.id" class="btn-success btn" (click)="createCar(); goBack()">Create</button>
									<button *ngIf="car.id" class="btn-success btn" (click)="updateCar()">Save</button>
									<button class="btn-warning btn" (click)="goBack()">Cancel</button>
								</div>
							</div>
						 </div>
                    
                   


					
	</div>
</div>

