

			<div id="page-wrapper">
				<div class="graphs">
					<div class="widget_middle">
                        
						<div class="col-md-4 widget_middle_left">
                            <div class="stats-info stats-info1">
                                <div class="panel-heading">
                                    <h4 class="panel-title" style="margin-bottom: 10px">CUSTOMER </h4><hr>
									<span class="pull-right" *ngIf="selectedCustomer">
										<button type="button" class="btn btn-xs btn-default" (click)="selectedCustomer=null">Reset</button>
										<a href="http://localhost:3000/customers/{{selectedCustomer.id}}" class="btn btn-xs btn-default">Edit</a></span>
                                    <div class="form-group" *ngIf="!selectedCustomer">
                                        <input #searchBoxCustomer (keyup)="searchCustomer(searchBoxCustomer.value)"  
										type="text" class="form-control1 input-lg" placeholder="Enter name ...">
                                    </div>
									
                                    
                                </div>
								<ul *ngIf="!selectedCustomer" >
									<li *ngFor="let customer of customers | async" 
										(click)="selectCustomer(customer); searchBoxCustomer.value=''">
											   <i class="fa fa-users icon_1"></i>
											   <div class="notification_desc">
												<p><strong>{{ customer.first_name }} {{ customer.last_name }}</strong><span> {{ customer.phone }}</span></p>
												</div>
											   <div class="clearfix"></div>	
									</li>
									
									
										
								</ul>
								<div *ngIf="!selectedCustomer" class="notification_bottom" style="">
									<a href="http://localhost:3000/customers/create">Add new customer </a>
								</div> 
									
								
                                <div class="panel-body panel-body2">
                                    <ul class="list-unstyled" *ngIf="selectedCustomer">
										<li>Name: <div class="text-success ">{{ selectedCustomer.first_name }} {{ selectedCustomer.last_name }}  </div></li>
                                        <li>Phone: <div class="text-success ">{{ selectedCustomer.phone }} </div></li>
										<li>Email: <div class="text-success ">{{ selectedCustomer.email }} </div></li>
										<li>Address: <div class="text-success ">{{ selectedCustomer.address1 }} </div></li>
										<li>Organization: <div class="text-success ">{{ selectedCustomer.organization }} </div></li>
										<li>Note:
											<div class="text-success">{{selectedCustomer.note}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
						<div class="col-md-4 widget_middle_left">
                            <div class="stats-info stats-info1">
                                <div class="panel-heading">
                                    <h4 class="panel-title" style="margin-bottom: 10px">CAR </h4><hr>
									<span class="pull-right" *ngIf="selectedCar">
										<button type="button" class="btn btn-xs btn-default" (click)="selectedCar=null">Reset</button>
										<a class="btn btn-xs btn-default" href="http://localhost:3000/cars/{{selectedCar.id}}">Edit</a></span>
                                    <div class="form-group" *ngIf="!selectedCar">
                                        <input #searchBoxCar (keyup)="searchCar(searchBoxCar.value)"  
										type="text" class="form-control1 input-lg" placeholder="Enter license ...">
                                    </div>
									
                                    
                                </div>
								<ul *ngIf="!selectedCar" >
									<li *ngFor="let car of cars | async" 
										(click)="selectCar(car); searchBoxCar.value=''">
											   <i class="fa fa-users icon_1"></i>
											   <div class="notification_desc">
												<p><strong> {{ car.license_plate }}</strong><span> {{ car.note }}</span></p>
												</div>
											   <div class="clearfix"></div>	
									</li>
									
									
										
								</ul>
								<div *ngIf="!selectedCar" class="notification_bottom" style="">
									<a href="http://localhost:3000/cars/create">Add new car </a>
								</div> 
									
								
                                <div class="panel-body panel-body2">
                                    <ul class="list-unstyled" *ngIf="selectedCar">
										<li>Car: <div class="text-success pull-right">{{ selectedCar.license_plate }} </div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        
						<div class="col-md-4 widget_middle_left">
							<div class="stats-info stats-info1">
								<div class="panel-heading">
                                    <h4 class="panel-title" style="margin-bottom: 0">JOB DETAIL </h4><hr>                                    
                                </div>
								<div class="panel-body panel-body2" style="margin-top: 0; padding-top: 0">
								<!--	<ul class="list-unstyled" *ngIf="!job">
										<li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Due from">
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Due to">
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <label><input type="checkbox" checked=""> Drapt </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1" placeholder="Problems"></textarea>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1" placeholder="Note"></textarea>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Advisor">
                                            </div>
                                        </li>
										<li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Team repair">
                                            </div>
                                        </li>
										<li>
                                            <div>
                                                <input type="text" class="form-control1" placeholder="Status">
                                            </div>
                                        </li>								
                                    </ul>
-->
									<ul class="list-unstyled" *ngIf="job">
										<li>Due from
                                            <div>
                                                <input [(ngModel)]="job.due_from" type="text" class="form-control1" placeholder="Due from">
                                            </div>
                                        </li>
                                        <li>Due to
                                            <div>
                                                <input [(ngModel)]="job.due_to" type="text" class="form-control1" placeholder="Due to">
                                            </div>
                                        </li>
                                        <li>Drapt
                                            <div>
                                                <label><input [(ngModel)]="job.drapt" type="checkbox" checked=""> checked </label>
                                            </div>
                                        </li>
                                        <li>Problems
                                            <div>
                                                <textarea [(ngModel)]="job.problems" name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1" placeholder="Problems"></textarea>
                                            </div>
                                        </li>
                                        <li>Note
                                            <div>
                                                <textarea  [(ngModel)]="job.note" name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1" placeholder="Note"></textarea>
                                            </div>
                                        </li>
                                        <li>Advisor
                                            <div>
                                                <input [(ngModel)]="job.advisor" type="text" class="form-control1" placeholder="Advisor">
                                            </div>
                                        </li>
										<li>Team repair
                                            <div>
                                                <input [(ngModel)]="job.team_repair" type="text" class="form-control1" placeholder="Team repair">
                                            </div>
                                        </li>
										<li>Status
                                            <div>
                                                <input [(ngModel)]="job.status" type="text" class="form-control1" placeholder="Status">
                                            </div>
                                        </li>									
                                    </ul>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
			<div class="widget_middle">
				<div class="col-md-8 widget_middle_left">			
                   <!-- <div class="xs tabls">-->
						
					   <div class="panel panel-success" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
                           <!--<div class="panel-heading">
								<h2>SERVICE - PRODUCT</h2>
								<div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
							</div>-->
                            <!--<div class="panel-body no-padding">-->
								<div class="activity_box">
									
									<table class="table table-striped">
									<thead>
										<tr class="warning">
											<th>SERVICE</th>
											
											<th>Cost</th>
											<th>Option</th>
											
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let serviceJob of serviceJobs">
											<td>{{ serviceJob.name }}</td>
											<td>${{ serviceJob.cost }}</td>
											<td><button type="button" class="btn btn-xs btn-danger">Delete</button></td>
										</tr>
										
									</tbody>
								</table>

								

								<form>
										<input #serviceName type="text" placeholder="Service name"  class="col-md-4">
										<input #serviceCost type="text" placeholder="Cost"  class="col-md-4">
										
										<input type="submit" value="Add" required="" (click)="addService(serviceName.value, serviceCost.value)" />		
								</form>

								<table class="table table-striped">
									<thead>
										<tr class="warning">
											<th>PRODUCT</th>
											<th>Name</th>
											<th>Cost</th>
											<th>Quantum</th>
											<th>Options</th>
											
										</tr>
									</thead>
									<tbody *ngIf="productJobs">
										
										<tr *ngFor="let product of productJobs">
											<td ><img src="{{product.product_photo}}"></td>
											<td>{{product.product_name}}</td>
											<td>{{product.product_cost}}</td>
											<td>{{product.quantum}}</td>
											<td><button type="button" class="btn btn-xs btn-danger">Delete</button></td>
										</tr>
										
									</tbody>
								</table>

								<div class="form-group" >
                                       
										<div >
                                            <select   [(ngModel)]="typePC.type" class="form-control1" (ngModelChange)="changeProductType()">
                                                <option *ngFor="let t of typePCs" [value]="t.type" [selected]="typePC.type == t.type">{{ t.name }}</option>
                                            </select>
                                        </div>
										
                                        <div *ngIf="productCatalogs">
                                            <select   [(ngModel)]="productCatalog.id" class="form-control1" (ngModelChange)="updateProducts()">
                                                <option *ngFor="let catalog of productCatalogs" [value]="catalog.id" [selected]="productCatalog.id == catalog.id">{{ catalog.name }}</option>
                                            </select>
                                        </div>
                                        
								    </div>



									<div class="scrollbar scrollbar1" id="style-2" *ngIf="products">
										<div *ngFor="let product of products" class="online-top">
											<div class="top-at">
												<img class="img-responsive" src="{{ product.photo }}" alt="">
											</div>
											<div class="top-on">
												<div class="top-on1">
													<p>{{ product.name }}</p>
													<span>{{ product.cost }}</span>
												</div>
												<!--<label class="round"> </label>-->
												<button class="btn btn-primary pull-right" (click)="createProductJob(product)">Add</button>
												<div class="clearfix"> </div>
											</div>
											<div class="clearfix"> </div>
										</div>
										
									</div>








						</div>
								
								
							<!--</div>-->
						</div>
                    <!--</div>-->
				</div>

				<div class="col-md-4">
					 <div ><!--class="grid_3 grid_5"-->
					<!--<h3>Tabs</h3>-->
							 <div class="but_list" style="background-color:white">
							   <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
								<ul id="myTab" class="nav nav-tabs" role="tablist" >
								  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">MESSAGE</a></li>
								  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">EVENT</a></li>
								</ul>
							<div id="myTabContent" class="tab-content">
							  	<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
									  <div class="activity_box activity_box1">
											<div class="scrollbar scrollbar1" id="style-2">
												
													<div class="well" >
														<strong>Well done!</strong> You successfully read this important alert message.
													</div>
													<div class="clearfix"> </div>
												
												<div class="activity-row">
													<div class="alert alert-info" role="alert">
														<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
													</div>
													<div class="clearfix"> </div>
												</div>
												<div class="activity-row">
													<div class="col-xs-3 activity-img"><img src='images/3.png' class="img-responsive" alt=""/></div>
													<div class="col-xs-7 activity-desc">
														<h5><a href="#">Adom Smith</a></h5>
														<p>Hey ! There I'm available.</p>
													</div>
													<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
													<div class="clearfix"> </div>
												</div>
												<div class="activity-row">
													<div class="col-xs-3 activity-img"><img src='images/4.png' class="img-responsive" alt=""/></div>
													<div class="col-xs-7 activity-desc">
														<h5><a href="#">Peter Carl</a></h5>
														<p>Hey ! There I'm available.</p>
													</div>
													<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
													<div class="clearfix"> </div>
												</div>
												<div class="activity-row">
													<div class="col-xs-3 activity-img"><img src='images/1.png' class="img-responsive" alt=""/></div>
													<div class="col-xs-7 activity-desc">
														<h5><a href="#">John Smith</a></h5>
														<p>Hey ! There I'm available.</p>
													</div>
													<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
													<div class="clearfix"> </div>
												</div>
											</div>
											<form>
												<input type="text" value="Enter your text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your text';}" required="">
												<input type="submit" value="Send" required=""/>		
											</form>
										</div>
									  
								</div>
							  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
										<div>
											<div class="scrollbar scrollbar1" id="style-2">
												<div class="activity-row">
													<div class="alert alert-success" role="alert">
														<strong>Well done!</strong> You successfully read this important alert message.
													</div>
													<div class="clearfix"> </div>
												</div>
												<div class="activity-row">
													<div class="alert alert-info" role="alert">
														<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
													</div>
													<div class="clearfix"> </div>
												</div>
												<div class="activity-row">
													<div class="col-xs-3 activity-img"><img src='images/3.png' class="img-responsive" alt=""/></div>
													<div class="col-xs-7 activity-desc">
														<h5><a href="#">Adom Smith</a></h5>
														<p>Hey ! There I'm available.</p>
													</div>
													<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
													<div class="clearfix"> </div>
												</div>
												<div class="activity-row">
													<div class="col-xs-3 activity-img"><img src='images/4.png' class="img-responsive" alt=""/></div>
													<div class="col-xs-7 activity-desc">
														<h5><a href="#">Peter Carl</a></h5>
														<p>Hey ! There I'm available.</p>
													</div>
													<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
													<div class="clearfix"> </div>
												</div>
												<div class="activity-row">
													<div class="col-xs-3 activity-img"><img src='images/1.png' class="img-responsive" alt=""/></div>
													<div class="col-xs-7 activity-desc">
														<h5><a href="#">John Smith</a></h5>
														<p>Hey ! There I'm available.</p>
													</div>
													<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
													<div class="clearfix"> </div>
												</div>
											</div>

											
										</div>
							  </div>
							
							</div>
					   </div>
					   </div>		
					 </div>
				</div>		
			</div>
                    <div class="panel-footer">
							<div class="row">
								<div class="pull-right">
									<button *ngIf="job.id" class="btn-danger btn " (click)="deleteJob()">Delete</button>
									<button *ngIf="job.id" class="btn-success btn " (click)="updateJob()">Save</button>
									<button *ngIf="!job.id" class="btn-success btn" (click)="createJob(); goBack()">Create</button>
									
									<button class="btn-warning btn" (click)="goBack()">Cancel</button>
								</div>
							</div>
						 </div>
                    
                   


					
	</div>
</div>

