			<div id="page-wrapper">
				<div class="graphs">
					<div class="xs">
						
						

						<div class="col-md-8">
							


							<ul class="collection">

								<div class="panel-heading">
                                    <h4 class="panel-title" >MY JOB </h4>
									<span class="pull-right" >
										<a href="http://localhost:3000/jobs/create" class="btn btn-xs btn-default" (click)="selectedCar=null">Create job</a>
										<a  class="btn btn-xs btn-default">Edit</a>
									</span>
									<div class="clearfix"></div>	
                                </div>
								<div class="scrollbar scrollbar1" id="style-2">
								<li *ngFor="let job of jobs" class="collection-item ">
									<div class="activity-row">
									  	<div class="col-xs-2"  ><img src='{{job.car_photo}}' class="img-responsive" alt=""/></div>
											
										<div class="col-xs-8 activity-desc" style="border-right: 1px solid #f4f4f4!important">
											<h5><a href="http://localhost:3000/customers/{{ job.customer }}">{{ job.customer_info }}</a> | <a href="http://localhost:3000/cars/{{ job.car }}">{{job.car_info }}</a></h5>
											<p> Prolems: {{ job.problems }} </p>
											<p> Note: {{ job.note }} </p>
										</div>
										<div class="col-xs-2 activity-desc" >
											<span class="blue-text ultra-small">{{ job.due_from }}</span>
											<br>
											<span class="label btn_7 label-danger" style="float: right">Waiting</span>
											<a  href="http://localhost:3000/jobs/{{ job.id }}" class="btn btn-xs btn-link" style="float:right">View job</a>
										</div>
										<div class="clearfix"> </div>
									</div>
								</li>
								
								
								</div>
							</ul>


					</div>
					<div class="col-md-4">
							<div class="content-box  mrg15B">
								  <div class="content-box-wrapper text-center">
									<div class="status-badge mrg10A">
										<img class="img-circle" width="40" src="images/1.png" alt="">
										<div class="small-badge bg-red"></div>
									</div>
									<div class="status-badge mrg10A">
										<img class="img-circle" width="40" src="images/3.png" alt="">
										<div class="small-badge bg-red"></div>
									</div>
									<div class="status-badge mrg10A">
										<img class="img-circle" width="40" src="images/4.png" alt="">
										<div class="small-badge bg-green1"></div>
									</div>
									
									<div class="status-badge mrg10A">
										<img class="img-circle" width="40" src="images/3.png" alt="">
										<div class="small-badge bg-orange"></div>
									</div>
								  </div>
								 
								</div>
							<div class="activity_box">
								<div class="scrollbar scrollbar1" id="style-2">
									<div class="activity-row">
										<div class="alert alert-success" role="alert">
											<strong>Well done!</strong> You successfully read this important alert message.
										  </div>
										<div class="clearfix"> </div>
									</div>
									<div class="activity-row">
										<div class="alert alert-info" role="alert">
											<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
										  </div>
										<div class="clearfix"> </div>
									</div>
									<div class="activity-row">
										<div class="col-xs-3 activity-img"><img src='images/3.png' class="img-responsive" alt=""/></div>
										<div class="col-xs-7 activity-desc">
											<h5><a href="#">Adom Smith</a></h5>
											<p>Hey ! There I'm available.</p>
										</div>
										<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
										<div class="clearfix"> </div>
									</div>
									<div class="activity-row">
										<div class="col-xs-3 activity-img"><img src='images/4.png' class="img-responsive" alt=""/></div>
										<div class="col-xs-7 activity-desc">
											<h5><a href="#">Peter Carl</a></h5>
											<p>Hey ! There I'm available.</p>
										</div>
										<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
										<div class="clearfix"> </div>
									</div>
									<div class="activity-row">
										<div class="col-xs-3 activity-img"><img src='images/1.png' class="img-responsive" alt=""/></div>
										<div class="col-xs-7 activity-desc">
											<h5><a href="#">John Smith</a></h5>
											<p>Hey ! There I'm available.</p>
										</div>
										<div class="col-xs-2 activity-desc1"><h6>13:40 PM</h6></div>
										<div class="clearfix"> </div>
									</div>
								</div>
							</div>

						</div>					
				</div>
			</div>
		</div>