<div class="menu-right" *ngIf="profile">
				<div class="user-panel-top">  
					<div class="profile_details">		
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">	
										<span> <img class="img-circle" src="http://localhost:8000{{profile.avatar}}" ></span> 
										 <div class="user-name" style="padding-left: 10px;">
											<p style="font-size: 14px">{{ profile.name }}
												<span *ngIf="profile.type=='M'">Manager</span>
												<span *ngIf="profile.type=='A'">Advisor</span>
												<span *ngIf="profile.type=='R'">Repairer</span>
												
											</p>
										 </div>
										 <i class="lnr lnr-chevron-down"></i>
										 <i class="lnr lnr-chevron-up"></i>
										<div class="clearfix"></div>	
									</div>	
								</a>
								<ul class="dropdown-menu drp-mnu">
									<li> <a href="sign-up.html"><i class="fa fa-sign-out"></i> Logout</a> </li>
								</ul>
							</li>
							<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
			</div>