

			<div id="page-wrapper">
				<div class="graphs">
					<div class="widget_middle">
                        

						<div class="col-md-12 widget_middle_left">
							<div class="stats-info stats-info1">
								<div class="panel-heading">
                                    <h4 class="panel-title" style="margin-bottom: 10px">CUSTOMER </h4>
								</div>
								<div class="panel-body panel-body2">
									<!--<ul class="list-unstyled" *ngIf="!customer">
                                        
										<li>First name: 
                                            <div>
                                                <input  #first_name type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Last name:
                                            <div>
                                                <input #last_name type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Male: 
                                            <div>
                                                <label><input #isMale type="checkbox" checked=""> checked </label>
                                            </div>
                                        </li>
                                        <li>Company:
                                            <div>
                                                <label><input #isCompany type="checkbox" checked=""> checked </label>
                                               
                                            </div>
                                        </li>
                                        <li>Organization:
                                            <div>
                                                <input #organization type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Phone:
                                            <div>
                                                <input #phone type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
										<li>Mobile:
                                            <div>
                                                <input #mobile type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
										<li>Email:
                                            <div>
                                                <input #email type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Address 1:
                                            <div>
                                                <input #address1 type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Address 2:
                                            <div>
                                                <input #address2 type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Town/City
                                            <div>
                                                <input #town_or_city type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Note
                                            <div>
                                                 <textarea #note  name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1" placeholder=""></textarea>
                                            </div>
                                        </li>								
                                    </ul>-->


                                    <ul class="list-unstyled" *ngIf="customer">
                                        
										<li>First name: 
                                            <div>
                                                <input  [(ngModel)] = "customer.first_name" type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Last name:
                                            <div>
                                                <input [(ngModel)] = "customer.last_name" type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Male: 
                                            <div>
                                                <label><input [(ngModel)] = "customer.isMale" type="checkbox" checked=""> checked </label>
                                            </div>
                                        </li>
                                        <li>Company:
                                            <div>
                                                <label><input [(ngModel)] = "customer.isCompany" type="checkbox" checked=""> checked </label>
                                               
                                            </div>
                                        </li>
                                        <li>Organization:
                                            <div>
                                                <input [(ngModel)] = "customer.organization" type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Phone:
                                            <div>
                                                <input [(ngModel)] = "customer.phone" type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
										<li>Mobile:
                                            <div>
                                                <input [(ngModel)] = "customer.mobile" type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
										<li>Email:
                                            <div>
                                                <input [(ngModel)] = "customer.email" type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Address 1:
                                            <div>
                                                <input [(ngModel)] = "customer.address1" type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Address 2:
                                            <div>
                                                <input [(ngModel)] = "customer.addresss2" type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Town/City
                                            <div>
                                                <input [(ngModel)] = "customer.town_or_city" type="text" class="form-control1" placeholder="">
                                            </div>
                                        </li>
                                        <li>Note
                                            <div>
                                                 <textarea  [(ngModel)] = "customer.note"  name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1" placeholder=""></textarea>
                                            </div>
                                        </li>								
                                    </ul>


								</div>
							</div>
						</div>
						<div class="clearfix"> </div>

                   <div class="panel-footer" style="margin-right:20px">
							<div class="row">
								<div class="pull-right">
                                    <button *ngIf="!customer.id" class="btn-success btn" (click)="createCustomer()">Create</button>
									<!--<button *ngIf="!customer" 
                                    class="btn-success btn" (click)="createCustomer(first_name.value, last_name.value, isMale.checked, 
                                    isCompany.checked, organization.value, phone.value, mobile.value, email.value, address1.value,
                                    address2.value, town_or_city.value, note.value); goBack()">Create</button>-->
									<button *ngIf="customer.id" class="btn-success btn" (click)="updateCustomer()">Save</button>
									<button class="btn-warning btn" (click)="goBack()">Cancel</button>
								</div>
							</div>
						 </div>
					</div>


                    

        
                    
                   


					
	</div>
</div>

